SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_ROLE=CQ_APP
SNOWFLAKE_WAREHOUSE=CQ_WH
SNOWFLAKE_DATABASE=CAIRNQUILL_DB
SNOWFLAKE_PRIVATE_KEY_PATH=
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
CORTEX_MODEL=llama3.1-70b
DEMO_MODE=true
